<!-- Add init="false" -->

<ul style="padding:0" style="height:300px">
  <li><img src="{{section.settings.small_banner_01 | img_url: 'master'}}"></li>
  <li><img src="{{section.settings.small_banner_02 | img_url: 'master'}}"></li>
</ul>

{% schema %}
{
  "name": "small-banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "small_banner_01",
      "label": "Small Banner 01"
    },
    {
      "type": "image_picker",
      "id": "small_banner_02",
      "label": "Small Banner 02"
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "small-banner"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
