<!-- Add init="false" -->

<swiper-container init="false" class="swiper-container-mobile" style="height:300px">
  {% for block in section.blocks %}
    {% if mobie_image %}
      <swiper-slide>
        {{ block.settings.mobile_image | image_url: width: 3840 | image_tag: loading: 'lazy' }}
      </swiper-slide>
    {% endif %}
    {% if block.settings.desktop_image %}
      <swiper-slide>
        {{ block.settings.desktop_image | image_url: width: 3840 | image_tag: loading: 'lazy' }}
      </swiper-slide>
    {% else %}
      <swiper-slide>
        <div
          class="banner__media media{% if section.settings.image == blank and section.settings.desktop_image == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
        >
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      </swiper-slide>
    {% endif %}
  {% endfor %}
</swiper-container>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
{% schema %}
{
  "name": "test-slide",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_fullscreen",
      "label": "Show full-screen image",
      "info": "If enabled, images will be resized to fit the entire screen.",
      "default": true
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image",
          "info": "1560 x 1050px jpg recommended"
        },
        {
          "type": "text",
          "id": "desktop_alt",
          "label": "Desktop Alt"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image",
          "info": "750 x 1100px jpg recommended. If none is set, desktop image will be cropped."
        },
        {
          "type": "text",
          "id": "mobile_alt",
          "label": "Mobile Alt"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "test-slide",
      "settings": {},
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  const swiperElMobile = document.querySelector('.swiper-container-mobile');

  // swiper parameters
  const swiperParamsMobile = {
    slidesPerView: 1,
    breakpoints: {
      768: {
        slidesPerView: 1,
      },
    },
    on: {
      init() {
        // ...
      },
    },
  };

  // now we need to assign all parameters to Swiper element
  Object.assign(swiperElMobile, swiperParamsMobile);

  // and now initialize it
  swiperElMobile.initialize();
{% endjavascript %}
