<<<<<<< HEAD
<div><h1>test section</h1></div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
=======
<div>
  <h1>test section</h1>
</div>


{% schema %}
  {
    "name": "testsection",
    "settings": [],
    "presets":[
      {
        "name":"testsection"
      }  
    ]
  }
>>>>>>> 11dc3e327f24b7742e225f85e42cd2ffe68b772d
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
