<!-- Add init="false" -->

{% assign mobileImage = block.settings.mobile_image %}
{% assign mobileAlt = block.settings.mobile_alt %}
{% assign desktopImage = block.settings.desktop_image %}
{% assign desktopAlt = block.settings.desktop_alt %}

<h1>{{ section.settings.heading }}</h1>
<swiper-container init="false" class="swiper-container-01">
  {% for block in section.blocks %}
    <swiper-slide>
      {% if block.settings.image == blank %} placeholder{% endif %}
      <a href="">
        {% if block.settings.image %}
          <img class="" src="{{ block.settings.mobile_image | img_url: 'master' }}" alt="" width="100%">
          <img class="" src="{{ block.settings.desktop_image | img_url: 'master' }}" alt="" width="100%">
        {% endif %}
      </a>
      <a href="">
        <h1>{{ mobieAlt }}</h1>
      </a>
    </swiper-slide>
  {% endfor %}
</swiper-container>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
{% schema %}
{
  "name": "test-slide",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "my custom slider"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "slide",
      "settings": [
        {
          "type": "text",
          "id": "mobile_alt",
          "label": "Mobile Alt"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "text",
          "id": "desktop_alt",
          "label": "Desktop Alt"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "test-slide"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  const swiperEl1 = document.querySelector('swiper-container-01');

  // swiper parameters
  const swiperParams = {
    slidesPerView: 2,
    breakpoints: {
      640: {
        slidesPerView: 1,
      },
      1024: {
        slidesPerView: 1,
      },
    },
    on: {
      init() {
        // ...
      },
    },
  };

  // now we need to assign all parameters to Swiper element
  Object.assign(swiperEl1, swiperParams);

  // and now initialize it
  swiperEl.initialize();
{% endjavascript %}
