<div><h1>test section</h1>h1></div>


{% schema %}
  {
    "name": "testsection",
    "settings": [],
    "presets":[
    {"name":"testsection"}  
    ]
    
    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}