<!-- Add init="false" -->
<h1>{{ section.settings.heading }}</h1>
<swiper-container init="false">
  {% for block in section.blocks %}
    <swiper-slide>
      {% if block.settings.image == blank %} placeholder{% endif %}
      <a href="">
        {% if block.settings.image %}
          <img
            class="slide-image"
            src="{{ block.settings.banner01_image | img_url: 'master' }}"
            width="100%"
          >
        {% endif %}
      </a>
    </swiper-slide>
  {% endfor %}
</swiper-container>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
{% schema %}
{
  "name": "test-collection",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "my custom slider"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "slide",
      "settings": [
        {
          "type": "text",
          "id": "banner01_alt",
          "label": "Banner01 Alt"
        },
        {
          "type": "image_picker",
          "id": "banner01_image",
          "label": "Banner Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "test-collection"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  const swiperEl = document.querySelector('swiper-container');

  // swiper parameters
  const swiperParams = {
    slidesPerView: 2,
    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 5,
      },
    },
    on: {
      init() {
        // ...
      },
    },
  };

  // now we need to assign all parameters to Swiper element
  Object.assign(swiperEl, swiperParams);

  // and now initialize it
  swiperEl.initialize();
{% endjavascript %}
